a,
a:link,
a:visited {
	color: #f6465f;
}

a:active,
a:hover,
a:focused {
	color: #ca394e;
}
.quote{
	font: 400 5.25rem "Arizonia", Helvetica, sans-serif;
	color: #f6465f;
	text-align:center;
	line-height: .75;
	margin-bottom: 2rem;
	margin-top: 1.5rem;
}

.quote-small {
	text-align: center;
	color: #666;
	font-weight: 600;
	display: block;
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

.post-title {
	color: #f6465f;
}
 .post-p {
 	margin-bottom: 1.75rem;
 }

.footer {
	margin-top: 4rem;
	margin-bottom: 2rem;;
	border-top: 1px solid #e7e7e7;
	padding-top: 1rem;
	text-align: right;
}
.navbar-brand {
	font-family: "Arizonia", Helvetica, sans-serif;
	font-size: 2.5rem;
}

.container { 
	max-width: 600px;
}

a.btn,
a.btn:hover,
a.btn:active,
a.btn:visited {
	color: #fff;
}

.btn-yolo {
	background-color: #f6465f;
	border-color: #ca394e;
	color: #fff;;
}

.btn-yolo:hover,
.btn-yolo:active {
	background-color: #ca394e;
	border-color: #982A39;
	color: #fff;;
} 

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
	background-color: #ca394e;
	border-color: #ca394e;
}

.pagination > li > a,
.pagination > li > span {
	color: #ca394e;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus, 
.pagination > li > span:hover {
	color: #ca394e;
}
